/* NAVIGATION BAR */
header {
  padding: 2vw 2vw 0vw 2vw;
}
nav {
  width: 35%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.4vw;
  a:hover {
    color: var(--hover-text-color);
  }
}

.logo-img {
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 1vw;
  padding-right: 3vw;
}

.logo-img img {
  width: 8vw;
}

@media only screen and (max-width: 1200px) {
  /* NAVIGATION BAR */

  .logo-img img {
    width: 9vw;
  }
}

@media only screen and (max-width: 1024px) {
  /* NAVIGATION BAR */
  nav {
    font-size: 1.5vw;
  }

  .logo-img img {
    width: 10vw;
  }
}

@media only screen and (max-width: 768px) {
  /* NAVIGATION BAR */
  nav {
    width: 67%;
    font-size: 2.5vw;
    margin-bottom: 5vw;
    margin-top: 1vw;
  }

  .logo-img {
    padding-top: 2vw;
  }

  .logo-img img {
    width: 14vw;
  }
}
