/* top profile */
.top-profile {
  height: 35vw;
  margin-top: 13vw;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.top-profile .profile-img {
  width: 50%;
  height: 100%;
  background-color: var(--other-bg-txt);
}

/* INTRODUCTION */
.intro {
  margin-top: 3vw;
  text-align: center;
  width: 100%;
  font-size: 2vw;
}

.intro .sec-line {
  margin-top: 3vw;
}

/* Media Query for  (below 1200px) */

@media only screen and (max-width: 1200px) {
  /* top profile */
  .top-profile {
    margin-top: 12.5vw;
  }

  /* INTRODUCTION */
  .intro {
    font-size: 2.5vw;
  }

  .intro .sec-line {
    margin-top: 3.5vw;
  }
}

/* Media Query for Tablets and Smaller Laptops (below 1024px) */

@media only screen and (max-width: 1024px) {
  /* top profile */
  .top-profile {
    margin-top: 14.5vw;
  }

  /* INTRODUCTION */
  .intro {
    font-size: 2.2vw;
    line-height: 1.4; /* Added to maintain spacing */
  }

  .intro .sec-line {
    margin-top: 3vw;
  }
}

/* Media Query for Mobile Devices */

@media only screen and (max-width: 768px) {
  /* Top profile */
  .top-profile {
    height: 55vw;
    margin-top: 54vw;
  }

  .top-profile .profile-img {
    width: 80%;
  }

  /* INTRODUCTION */
  .intro {
    font-size: 3.2vw;
  }
}
