/* ABOUT ME */
.Aboutme {
  margin-top: 10vw;
  width: 100%;
}

.Aboutme .h-aboutme {
  font-weight: lighter;
  color: var(--other-bg-txt);
  letter-spacing: 2.3vw;
  font-size: 10vw;
  line-height: 0.85;
}

.Aboutme .aboutme-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vw;
  padding: 0 3vw;
}

.Aboutme .aboutme-content .content-part {
  width: 100%;
}
/* heading for about me  */
.Aboutme .aboutme-content .content-part .h-sharmila {
  font-size: 4vw;
  margin-top: 2vw;
  letter-spacing: 0.5vw;
}

/* main content inside the about me */
.Aboutme .aboutme-content .content-part .sharmila-content {
  margin-top: 1.5vw;
  width: 100%;
  line-height: 2;
  font-size: 1.4vw;
}
.Aboutme .aboutme-content .mid-profile-img {
  width: 100%;
  background-color: var(--other-bg-txt);
}

/* phone number and mail */
.Aboutme .aboutme-footer {
  display: flex;

  width: 95%;
  font-size: 1.4vw;
  justify-content: space-between;
  font-weight: 1000;
  cursor: pointer;
  p:hover {
    color: var(--hover-text-color);
    transition: color 0.3s ease;
  }
}

/* Media Query for  (below 1200px) */

@media only screen and (max-width: 1200px) {
  /* ABOUT ME */
  .Aboutme .h-aboutme {
    font-size: 11vw;
  }

  .Aboutme .aboutme-content .content-part .h-sharmila {
    font-size: 4.5vw;
  }
}

/* Media Query for Tablets and Smaller Laptops (below 1024px) */

@media only screen and (max-width: 1024px) {
  /* ABOUT ME */
  .Aboutme .h-aboutme {
    font-size: 10vw;
    line-height: 1;
  }

  .Aboutme .aboutme-content .content-part .h-sharmila {
    font-size: 4.5vw;
    line-height: 1.2;
  }

  .Aboutme .aboutme-content .content-part .sharmila-content {
    line-height: 1.8;
  }

  .Aboutme .aboutme-footer {
    line-height: 1.6;
  }
}

/* Media Query for Mobile Devices */

@media only screen and (max-width: 768px) {
  /* ABOUT ME */

  .Aboutme {
    margin-top: 20vw;
  }
  .Aboutme .h-aboutme {
    font-size: 14vw;
  }

  .Aboutme .aboutme-content {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content"
      "footer"
      "image";
    gap: 3vw;
  }

  .Aboutme .aboutme-content .content-part {
    grid-area: content;
  }

  .Aboutme .aboutme-content .content-part .h-sharmila {
    margin-top: 4vw;
    font-size: 6.5vw;
  }

  .Aboutme .aboutme-content .content-part .sharmila-content {
    margin-top: 3vw;
    width: 100%;
    font-size: 3vw;
  }

  .Aboutme .aboutme-footer {
    grid-area: footer;
    margin-top: 3vw;
    width: 100%;
    font-size: 3vw;
  }
  .Aboutme .aboutme-content .mid-profile-img {
    grid-area: image;
    height: 60vw;
    width: 100%;
  }
}
