/* CONTACT ME */
.contact-me {
  margin-top: 5vw;
  position: relative;
}

/* contact me header */
.contact-me .h-contact-me {
  font-size: 10vw;
  letter-spacing: 2.3vw;
  color: var(--other-bg-txt);
}

/* form */
.contact-me form {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 30%;
  top: 20vw;
  right: 20vw;
  gap: 1vw;
}
.contact-me form input,
textarea {
  padding: 0.5vw 0.5vw 2vw 0.5vw;
  font-size: 1.1vw;
  background-color: var(--other-bg-txt);
  border: 1px solid var(--other-bg-txt);
  letter-spacing: 0.2vw;
}
.contact-me form textarea {
  height: 8vw;
}

/* for mordern browser platform */
.contact-me form input::placeholder,
textarea::placeholder {
  color: var(--main-txt);
}

/* for cross browser platform */
.contact-me form input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--main-txt);
}
.contact-me form input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: var(--main-txt);
}

.contact-me form button {
  padding: 0.5vw 1vw 0.5vw 1vw;
  background-color: var(--other-bg-txt);
  border: 1px solid var(--other-bg-txt);
  font-size: 1.4vw;
  letter-spacing: 0.2vw;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.contact-me form button:hover {
  background-color: var(--hover-button-color);
}
/* Media Query for  (below 1200px) */

@media only screen and (max-width: 1200px) {
  /* CONTACT ME */
  .contact-me .h-contact-me {
    font-size: 11vw;
    line-height: 1.25;
  }

  .contact-me form {
    width: 35%;
    top: 20vw;
    right: 10vw;
  }

  .contact-me form input {
    padding-bottom: 2vw;
  }
}

/* Media Query for Tablets and Smaller Laptops (below 1024px) */

@media only screen and (max-width: 1024px) {
  /* CONTACT ME */
  .contact-me {
    margin-top: 4vw;
  }

  .contact-me .h-contact-me {
    font-size: 10vw;
    line-height: 1.2;
  }

  .contact-me form {
    width: 38%;
  }

  .contact-me form input,
  .contact-me form textarea,
  .contact-me form button {
    font-size: 1.5vw;
    padding: 0.8vw;
    line-height: 1.4;
  }

  .contact-me form textarea {
    height: 10vw;
  }
}

/* Media Query for Mobile Devices */

@media only screen and (max-width: 768px) {
  /* CONTACT ME */
  .contact-me {
    margin-top: 20vw;
  }
  .contact-me .h-contact-me {
    font-size: 15vw;
  }

  .contact-me form {
    position: static;
    width: 90%;
    margin: 5vw auto;
    gap: 3vw;
  }

  .contact-me form input,
  .contact-me form textarea {
    font-size: 3vw;
    height: 10vw;
    padding-bottom: 5vw;
    padding-left: 3vw;
  }

  .contact-me form button {
    font-size: 3vw;
    padding: 2vw 4vw;
  }

  .contact-me form textarea {
    height: 20vw;
  }
}
